.wait-opponent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.wait-opponent .logo {
  margin-bottom: 40px;
}

.wait-opponent h2 {
  color: var(--bg-white);
  margin-top: 15px;
  text-align: center;
  text-shadow: 0px 3px 1px var(--bg-navy);
  text-transform: uppercase;
}

.wait-opponent .avatar-image {
  position: absolute;
  right: 20px;
  top: 20px;
}

.wait-opponent-share {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.wait-opponent-code {
  color: var(--bg-white);
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 3px 1px var(--bg-navy);
  margin-bottom: 5px;
}

.wait-opponent-share .button {
  font-size: 20px;
  margin-bottom: 30px;
  padding: 10px;
  text-transform: uppercase;
}

.wait-opponent-share p {
  color: var(--bg-white);
  text-align: center;
  text-shadow: 0px 1px 1px var(--bg-navy);
}
