.game-difficulty {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.game-difficulty .logo {
  margin-bottom: 60px;
}

.game-difficulty-buttons {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.game-difficulty-buttons .button {
  font-size: 25px;
  font-weight: bold;
  height: 50px;
}

.game-difficulty-buttons .button:not(:last-child) {
  margin-bottom: 15px;
}
