.logo {
  align-items: center;
  animation: bounceIn 0.8s both;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-label {
  font-size: 80px;
  font-family: "Arial Black", Gadget, sans-serif;

  background: var(--bg-light-orange2);
  background: linear-gradient(
    to top,
    var(--bg-light-orange2) 0%,
    var(--bg-light-orange3) 30%,
    var(--bg-orange2) 60%,
    var(--bg-orange3) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--bg-white);
  -webkit-text-stroke-width: 3px;
  background-clip: text;
}

.logo-dices {
  margin-top: -8px;
  position: relative;
  display: flex;
}

.logo-dices .board-item:not(:last-child) {
  margin-right: 5px;
}
