.lobby-game {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.lobby-game .logo {
  margin-bottom: 30px;
}

.lobby-game .circular-button {
  position: absolute;
  right: 20px;
  top: 20px;
}
